<div class="styla-cms-integration-account-name-settings">
    <div class="styla-cms-integration-account-name-settings__content">
        <sw-container>
            <template v-for="(accountName, languageId) in accountNames">
                <sw-field v-if="languageId === 'default'" v-model="accountNames[languageId]"
                          :label="$tc('styla-cms-integration-plugin.configuration.field.account_names.default.label')"
                          @change="onChange"
                          @blur="checkForm"
                          :error="defaultAccountNameError" required
                >
                </sw-field>
                <sw-field v-else
                          v-model="accountNames[languageId]"
                          :label="$tc('styla-cms-integration-plugin.configuration.field.account_names.language_specific_account_name.label', 0, {name: languages[languageId].name})"
                          @change="onChange"
                >
                </sw-field>
            </template>
        </sw-container>
    </div>
</div>
