.content-group {
    .sw-block-field__block {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }
    .sw-button {
        height: 48px;
        margin-top: 24px;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
}