{% block styla_pages_listing %}
    <sw-page class="overdose-contact-list">
        <template #smart-bar-actions> {# slots check vue.js documentation #}
            <div v-if="lastSuccessSynchronizationDate">
                <sw-label id="last-sync-info" variant="info" :dismissable="false">
                    {{ $tc('styla-cms-integration-plugin.actions.get-last-success-date.text', 0, {'dateTime': lastSuccessSynchronizationDate}) }}
                    <sw-button-process id="reset-sync-button" variant="ghost" size="x-small"
                        style="padding:0 5px;line-height:12px;font-size:8px;"
                        :isLoading="resetSynchronizationProcessing"
                        :processSuccess="resetSynchronizationSuccess"
                        @process-finish="resetTheResetSynchronizationState"
                        @click="resetSynchronizationStatus"
                    >
                        {{ $tc('styla-cms-integration-plugin.actions.reset-synchronization.button.label') }}
                    </sw-button-process>
                </sw-label>
            </div>

            <sw-button-group
                :split-button="true"
            >
                <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                {% block styla_page_actions_sync %}
                <sw-button-process
                    :disabled="synchronizationProcessing"
                    @process-finish="resetSynchronizationState"
                    @click="synchronization"
                    :isLoading="synchronizationProcessing"
                    variant="primary"
                >
                    {{ $tc('styla-cms-integration-plugin.actions.pages-synchronization.button.label') }}
                </sw-button-process>
                {% endblock %}

                <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                {% block styla_page_actions_sync_context_menu %}
                <sw-context-button>
                    <template #button>
                        <sw-button
                            square
                            variant="primary"
                            :disabled="scheduleSynchronizationProcessing"
                        >
                            <sw-icon
                                name="regular-chevron-down-xs"
                                size="16"
                            />
                        </sw-button>
                    </template>

                    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                    {% block styla_page_actions_save_context_menu_actions %}
                        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                        {% block styla_page_actions_duplicate %}
                        <sw-context-menu-item
                            :disabled="scheduleSynchronizationProcessing"
                            :isLoading="scheduleSynchronizationProcessing"
                            @process-finish="resetScheduleSynchronizationState"
                            @click="scheduleSynchronization"
                        >
                            {{ $tc('styla-cms-integration-plugin.actions.schedule-pages-synchronization.button.label') }}
                        </sw-context-menu-item>
                        {% endblock %}
                    {% endblock %}
                </sw-context-button>
                {% endblock %}
            </sw-button-group>
        </template>
        <template #content>
            <sw-entity-listing
                v-if="pages"
                :items="pages"
                :repository="repository"
                :showSelection="false"
                :allowColumnEdit="false"
                :allowDelete="false"
                :allowEdit="false"
                :columns="columns">
                <template #actions="{ item }">
                    <sw-context-menu-item @click="refreshPageDetails(item)">
                        {{ $tc('styla-cms-integration-plugin.actions.refresh-page-details.button.label') }}
                    </sw-context-menu-item>
                </template>

                <template v-slot:column-path="{item, column, url}">
                    <a v-bind:href="computePathLink(item)" v-if="computePathLink(item)" target="_blank"> {{ computePathLink(item) }} </a>
                    <span v-else>{{ item.path }}</span>
                </template>
            </sw-entity-listing>
        </template>
    </sw-page>
{% endblock %}
