<div class="cms-element-styla-module-content-preview">
    <img class="cms-element-styla-module-content-preview-image" :src="'stylacmsintegrationplugin/administration/static/img/shopware-6-styla-module.png' | asset"/>
</div>
