.cms-element-styla-module-content-preview{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cms-element-styla-module-content-preview-image{
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
}
