{% block sw_cms_element_styla_module_content_preview %}
    <div class="sw-cms-el-styla-module-content-preview">
        <img class="sw-cms-el-styla-module-content-preview-image" :src="'stylacmsintegration/administration/static/img/shopware-6-styla-module.png' | asset"/>
    </div>
{% endblock %}