{% block sw_cms_element_styla_module_content %}
    <div class="sw-cms-el-styla-module-content">
        <h2>
            {{ $tc('styla-cms-integration-plugin.element.module-content.text', 0, {'id': element.config.slotId.value}) }}
        </h2>
    </div>
{% endblock %}