{% sw_extends '@Storefront/storefront/base.html.twig' %}

{% block base_head %}
    {% include '@StylaCmsIntegration/storefront/layout/meta.html.twig' %}
{% endblock %}

{% block base_content %}
    <div data-styla-client="{{ client }}" data-styla-content="{{ path }}">{{ body|raw }}</div>
{% endblock %}
