{% block sw_cms_preview_styla_module %}
<div class="sw-cms-preview-styla-module-content">
    <img class="sw-cms-preview-styla-module-content-image" :src="'stylacmsintegration/administration/static/img/shopware-6-styla-module.png' | asset"/>
</div>
{% endblock %}